*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --mainPadding: 10% 11% 3rem;
}

button:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
}
.header .header-back {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.nav-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background-color: #6FCF97;
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 98px;
  height: 28px;
}

.nav {
  width: 65%;
  margin-right: 2rem;
}
.nav .nav-list {
  display: flex;
  flex-flow: row wrap;
}
.nav .nav-list .nav-list-item {
  margin-right: 60px;
}
.nav .nav-list .nav-list-item:last-child {
  margin-right: 0;
}
.nav .nav-list .nav-list-item a {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  padding-bottom: 3px;
}
.nav .nav-list .nav-list-item a.drop {
  padding-right: 1rem;
  background: url("../img/drop.png") 100% 50% no-repeat;
  background-size: 0.875rem;
}
.nav .nav-list .nav-list-item a.drop:hover {
  border-bottom: 4px solid red;
}
.nav .nav-list .nav-list-item a:hover {
  border-bottom: 4px solid darkorange;
}
.nav .nav-list .nav-list-item a.active {
  border-bottom: 4px solid #6FCF97;
}
.nav .nav-list .nav-list-item a.active:hover {
  border-bottom: 4px solid darkorange;
}
.nav .nav-list .nav-list-item.to-right {
  margin-left: auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: calc(2.4rem + .4vw);
  line-height: 1.5;
  letter-spacing: 1px;
  width: 100%;
}

.main-btn {
  background-color: #6FCF97;
  border: none;
  color: #fff;
  padding: 1rem 4rem;
}
.main-btn:hover {
  background-color: green;
}
.main-btn.mini {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondaryBtn {
  background-color: #333;
  border: none;
  color: #fff;
  padding: min(calc(1rem + 0.2vw), 16px) min(calc(1rem + 0.3vw), 20px);
  display: flex;
  align-items: center;
}
.secondaryBtn span {
  font-size: calc(.6rem + .5vw);
  font-weight: 600;
  letter-spacing: 0.7px;
}
.secondaryBtn img {
  width: 3.2vw;
  height: 3.2vw;
  margin-right: 1.2rem;
}
.secondaryBtn:hover {
  background-color: #000;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
}
.tagline h1 {
  margin: 10% 0 3rem;
}

.recipe {
  background-color: #EFFFF6;
  padding: var(--mainPadding);
  display: flex;
  justify-content: space-between;
}
.recipe .recipe-text {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recipe .recipe-text .recipe-title {
  width: 80%;
  font-size: calc(1.5rem + .5vw);
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #333;
  margin-bottom: 0.5rem;
}
.recipe .recipe-text .recipe-desc {
  color: #4F4F4F;
  font-weight: 400;
  font-size: calc(.8rem + .4vw);
  line-height: 2;
  width: 100%;
  margin-bottom: 4vw;
}
.recipe .recipe-text .recipe-title-border {
  width: 50%;
  height: 8px;
  border-bottom: 8px solid #6FCF97;
  margin-bottom: 2.5vw;
}
.recipe .recipe-photo {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.recipe .recipe-photo .recipe-photo-main {
  width: 95%;
  align-self: flex-end;
}
.recipe .recipe-photo .recipe-photo-mini {
  width: 68%;
  position: relative;
  top: -10%;
  left: -10%;
  z-index: 2;
}

.block-title {
  font-size: calc(1.6rem + .5vw);
  font-weight: 600;
  margin-bottom: 4.25rem;
  text-align: center;
}

.recomended {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mainPadding);
}
.recomended .food-items {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.recomended .food-items .food-item {
  display: flex;
  align-items: center;
}
.recomended .food-items .food-item .food-item-img {
  width: calc(109px + (210 - 109) * ((100vw - 834px) / (1440 - 834)));
  min-width: 109px;
}
.recomended .food-items .food-item .food-item-info {
  align-self: flex-start;
  width: calc(100% - calc(109px + (210 - 109) * ((100vw - 834px) / (1440 - 834))));
  padding-left: 20px;
  color: #000;
}
.recomended .food-items .food-item .food-item-info .food-item-name {
  font-size: calc(18px + (24 - 18) * ((100vw - 834px) / (1440 - 843)));
  font-weight: 600;
}
.recomended .food-items .food-item .food-item-info .food-item-desc {
  font-size: calc(12px + (18 - 12) * ((100vw - 834px) / (1440 - 843)));
  font-weight: 400;
}
.recomended .food-items .food-item .food-item-info .food-item-price {
  color: #6FCF97;
  margin-top: 1.2rem;
  font-size: calc(18px + (24 - 18) * ((100vw - 834px) / (1440 - 843)));
}
.recomended .food-items .food-item .food-item-info .food-item-price::before {
  content: "$";
}
.recomended .food-items .food-link {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  text-decoration: none;
}
.recomended .food-items .food-link:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #e2d2d2;
}

.gallery .gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.form-reservation {
  padding: var(--mainPadding);
}
.form-reservation .reservation {
  background-color: #6FCF97;
  padding: 4.625rem 7vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.form-reservation .reservation .form-title {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.625rem;
}
.form-reservation .reservation .form-item {
  width: 48%;
  position: relative;
  color: #fff;
}
.form-reservation .reservation .form-item .place-label {
  color: rgba(255, 255, 255, 0.5);
  background-color: #6FCF97;
  padding: 0 7px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s;
}
.form-reservation .reservation .form-item .form-input {
  color: #fff;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.form-reservation .reservation .form-item .form-input:focus + .place-label, .form-reservation .reservation .form-item .form-input:valid + .place-label {
  color: #fff;
  top: -15px;
}
.form-reservation .reservation .form-item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.form-reservation .reservation .form-item select option {
  width: 100%;
}
.form-reservation .reservation .form-item .drop-arrow {
  content: url("../img/drop.png");
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 10px;
}
.form-reservation .reservation .form-btn {
  width: 100%;
  background-color: #219653;
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.form-reservation .reservation .form-btn:hover {
  background-color: green;
  cursor: pointer;
}
.form-reservation .reservation .form-add-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-reservation .reservation .form-add-info .add-info {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}
.form-reservation .reservation .form-add-info .add-info-img {
  width: 40px;
  height: 52px;
  margin-right: 1rem;
}
.form-reservation .reservation .form-add-info .add-info-img > img {
  object-fit: contain;
}

.footer {
  padding: var(--mainPadding);
  background-color: #333;
  color: #fff;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .link-item {
  margin-bottom: 1rem;
}
.footer .footer-title {
  color: #6FCF97;
  font-size: max(14px, calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))));
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.footer .footer-logo {
  width: 172px;
  height: 50px;
}
.footer .footer-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 4rem;
}
.footer .footer-info .footer-info-contacts {
  width: 25%;
}
.footer .footer-info .footer-info-contacts p {
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
  margin-bottom: 0.6rem;
}
.footer .footer-info .footer-info-subscription {
  width: 40%;
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
}
.footer .footer-info .footer-info-subscription .subscription-form {
  margin-bottom: 3rem;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field {
  position: relative;
  display: flex;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field .subscription-label {
  color: rgba(255, 255, 255, 0.5);
  background-color: #333;
  padding: 0 7px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field input {
  font-size: max(calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))), 14px);
  width: 70%;
  padding: 1.1rem;
  margin: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field input::placeholder {
  color: #fff;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field input:focus + .subscription-label, .footer .footer-info .footer-info-subscription .subscription-form .subscription-field input:valid + .subscription-label {
  color: #fff;
  top: -15px;
}
.footer .footer-info .footer-info-subscription .subscription-form .subscription-field button {
  font-size: max(calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))), 14px);
  width: 30%;
  border: 1px solid #6FCF97;
}
.footer .footer-info .footer-info-links a {
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
}
.footer .footer-copy {
  text-align: center;
  padding-top: 2.5rem;
  font-size: max(calc(14px + (18 - 14) * ((100vw - 375px) / (1440 - 375))), 14px);
}

.error {
  border: 1px solid red !important;
}

.error-text {
  color: red !important;
}

.valid {
  border: 1px solid green !important;
}

.valid-text {
  color: green !important;
}

.hidden {
  display: none;
}

.burger {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
}

@media all and (max-width: 78em) {
  .tagline h1 {
    margin-top: 6%;
  }

  .recipe .recipe-text {
    width: 58%;
  }
  .recipe .recipe-photo .recipe-photo-main {
    width: 88%;
  }
  .recipe .recipe-photo .recipe-photo-mini {
    width: 62%;
    top: -5%;
    left: 0;
  }
}
@media all and (max-width: 68em) {
  :root {
    --mainPadding: 5% 7% 3rem;
  }

  .tagline {
    padding-bottom: 7%;
  }
  .tagline h1 {
    font-size: calc(1.8rem + .4vw);
  }

  .logo {
    padding: 2rem 2.5rem;
  }
}
@media all and (max-width: 59em) {
  :root {
    --mainPadding: 5% 5% 3rem;
  }

  .secondaryBtn {
    padding: 16px;
  }

  .tagline {
    padding-bottom: 6%;
  }
  .tagline h1 {
    margin-top: 5%;
  }

  .logo {
    padding: 1.5rem 2rem;
  }
  .logo img {
    width: 80px;
    height: 22px;
  }

  .nav {
    width: 100%;
    margin: 0 30px;
  }
  .nav .nav-list {
    justify-content: space-between;
  }
  .nav .nav-list .nav-list-item {
    margin-right: 0;
  }
  .nav .nav-list .nav-list-item.to-right {
    margin-left: 0;
  }

  .recipe .recipe-text .recipe-desc {
    font-size: calc(.65rem + .4vw);
  }

  .block-title {
    font-size: calc(1.4rem + .5vw);
  }

  .footer .footer-logo {
    width: 140px;
    height: 40px;
  }
}
@media all and (max-width: 53em) {
  .form-reservation .reservation {
    padding: 2.2rem 5vw;
  }
  .form-reservation .reservation .form-add-info {
    display: none;
  }
  .form-reservation .reservation .form-btn {
    margin-bottom: 0;
  }
}
@media all and (max-width: 52em) {
  .recipe {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .recipe .recipe-text {
    width: 100%;
  }
  .recipe .recipe-text .recipe-title {
    width: 80%;
  }
  .recipe .recipe-text .recipe-desc {
    font-size: calc(.8rem + .3vw);
  }
  .recipe .recipe-text .recipe-title-border {
    width: 50%;
    height: 8px;
    border-bottom: 8px solid #6FCF97;
    margin-bottom: 2.5vw;
  }
  .recipe .recipe-text .secondaryBtn {
    width: 45%;
    justify-content: center;
    margin-bottom: 10vw;
  }
  .recipe .recipe-photo {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .recipe .recipe-photo .recipe-photo-main {
    width: 56%;
    align-self: center;
  }
  .recipe .recipe-photo .recipe-photo-mini {
    width: 41%;
    left: 0;
    top: 0;
    transform: translate(-50%, -20%);
  }

  .block-title {
    font-size: calc(1rem + .5vw);
  }

  .recomended .food-items .food-item .food-item-info .food-item-name {
    font-size: 1.1rem;
  }
  .recomended .food-items .food-item .food-item-info .food-item-desc {
    font-size: 0.75rem;
  }
  .recomended .food-items .food-item .food-item-info .food-item-price {
    font-size: 1.1rem;
    margin-top: 5px;
  }

  .footer .footer-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .footer .footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-info .footer-info-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vw;
    width: 100%;
  }
  .footer .footer-info .footer-info-subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-info .footer-info-links {
    display: none;
  }
  .footer p {
    text-align: center;
  }
}
@media all and (max-width: 42.5em) {
  .tagline h1 {
    font-size: calc(1.2rem + .3vw);
  }

  .logo {
    padding: 0.8rem 1.1rem;
  }
  .logo img {
    width: 60px;
    height: 16px;
  }

  .nav-row {
    justify-content: center;
  }

  .nav {
    display: none;
  }

  .main-btn {
    padding: 0.8rem 2rem;
    font-size: 14px;
  }

  .recipe {
    flex-direction: column;
  }
  .recipe .recipe-text .secondaryBtn {
    width: 49%;
  }

  .recomended .food-items {
    justify-content: center;
  }
  .recomended .food-items .food-item {
    display: flex;
    align-items: center;
  }
  .recomended .food-items .food-link {
    width: 60%;
    margin-bottom: 20px;
  }

  .gallery .gallery-items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
  }

  .block-title {
    margin-bottom: 20px;
  }

  .form-reservation {
    padding: 5% 2% 2%;
  }
  .form-reservation .reservation .form-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .form-reservation .reservation .form-item {
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: 0.75rem;
  }
  .form-reservation .reservation .form-btn {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 27em) {
  .recipe {
    flex-direction: column;
  }
  .recipe .recipe-text .secondaryBtn img {
    margin-right: 5px;
  }

  .recomended .food-items {
    justify-content: center;
  }
  .recomended .food-items .food-item {
    display: flex;
    align-items: center;
  }
  .recomended .food-items .food-link {
    width: 90%;
  }
}
@media all and (max-width: 23em) {
  .recipe .recipe-text .secondaryBtn {
    width: 100%;
    padding: 7px;
    margin-bottom: 1rem;
  }
  .recipe .recipe-text .recipe-title {
    width: 100%;
  }
}