*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  position: relative;
}

.header__background {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.header__burger {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
}

.header__nav-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8%;
}

.header__title {
  margin: 10% 0 3rem;
}

@media all and (max-width: 78em) {
  .header__title {
    margin-top: 6%;
  }
}
@media all and (max-width: 68em) {
  .header__tagline {
    padding-bottom: 7%;
  }

  .header__title {
    font-size: calc(1.8rem + .4vw);
  }
}
@media all and (max-width: 59em) {
  .header__tagline {
    padding-bottom: 6%;
  }

  .header__title {
    margin-top: 5%;
  }
}
@media all and (max-width: 42.5em) {
  .header__title {
    font-size: calc(1.2rem + .3vw);
  }
}
.nav {
  width: 65%;
  margin-right: 2rem;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
}

.nav__item {
  margin-right: 60px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__item_to-right {
  margin-left: auto;
}

.nav__link {
  color: #fff;
  font-size: 0.875rem;
  text-decoration: none;
  padding-bottom: 3px;
}
.nav__link:hover {
  border-bottom: 4px solid darkorange;
}

.nav__link_active {
  border-bottom: 4px solid var(--mainGreen);
}

.nav__link_drop {
  padding-right: 1rem;
  background: url("../img/drop.png") 100% 50% no-repeat;
  background-size: 0.875rem;
}
.nav__link_drop:hover {
  border-bottom: 4px solid red;
}

@media all and (max-width: 59em) {
  .nav {
    width: 100%;
    margin: 0 30px;
  }

  .nav__list {
    justify-content: space-between;
  }

  .nav__item {
    margin-right: 0;
  }

  .nav__item_to-right {
    margin-left: 0;
  }
}
@media all and (max-width: 42.5em) {
  .header__nav-row {
    justify-content: center;
  }

  .nav {
    display: none;
  }
}
.recipe {
  background-color: var(--lightGreen);
  padding: var(--mainPadding);
  display: flex;
  justify-content: space-between;
}

.recipe__content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe__title {
  width: 80%;
  font-size: calc(1.5rem + .5vw);
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--grey);
  margin-bottom: 0.5rem;
}

.recipe__description {
  color: #4F4F4F;
  font-weight: 400;
  font-size: calc(.8rem + .4vw);
  line-height: 2;
  width: 100%;
  margin-bottom: 4vw;
}

.recipe__title-border {
  width: 50%;
  height: 8px;
  border-bottom: 8px solid var(--mainGreen);
  margin-bottom: 2.5vw;
}

.recipe__imgs {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.recipe__img-main {
  width: 95%;
  align-self: flex-end;
}

.recipe__img-mini {
  width: 68%;
  position: relative;
  top: -10%;
  left: -10%;
  z-index: 2;
}

.recipe__btn {
  background-color: var(--grey);
  border: none;
  color: #fff;
  padding: min(calc(1rem + 0.2vw), 16px) min(calc(1rem + 0.3vw), 20px);
  display: flex;
  align-items: center;
}
.recipe__btn img {
  width: 3.2vw;
  height: 3.2vw;
  margin-right: 1.2rem;
}
.recipe__btn:hover {
  background-color: #000;
}

.recipe__btn-text {
  font-size: calc(.6rem + .5vw);
  font-weight: 600;
  letter-spacing: 0.7px;
}

@media all and (max-width: 78em) {
  .recipe__content {
    width: 58%;
  }

  .recipe__img-main {
    width: 88%;
  }

  .recipe__img-mini {
    width: 62%;
    top: -5%;
    left: 0;
  }
}
@media all and (max-width: 59em) {
  .recipe__description {
    font-size: calc(.65rem + .4vw);
  }

  .recipe__btn {
    padding: 16px;
  }
}
@media all and (max-width: 52em) {
  .recipe {
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .recipe__content {
    width: 100%;
  }

  .recipe__title {
    width: 80%;
  }

  .recipe__description {
    font-size: calc(.8rem + .3vw);
  }

  .recipe__title-border {
    width: 50%;
    height: 8px;
    border-bottom: 8px solid var(--mainGreen);
    margin-bottom: 2.5vw;
  }

  .recipe__btn {
    width: 45%;
    justify-content: center;
    margin-bottom: 10vw;
  }

  .recipe__imgs {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .recipe__img-main {
    width: 56%;
    align-self: center;
  }

  .recipe__img-mini {
    width: 41%;
    left: 0;
    top: 0;
    transform: translate(-50%, -20%);
  }
}
@media all and (max-width: 42.5em) {
  .recipe {
    flex-direction: column;
  }

  .recipe__btn {
    width: 49%;
  }
}
@media all and (max-width: 27em) {
  .recipe {
    flex-direction: column;
  }

  .recipe__btn img {
    margin-right: 5px;
  }
}
@media all and (max-width: 23em) {
  .recipe__title {
    width: 100%;
  }

  .recipe__btn {
    width: 100%;
    padding: 14px 7px;
    margin-bottom: 1rem;
  }
}
.recomended {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--mainPadding);
}

.recomended__items {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.recomended__item {
  display: flex;
  align-items: center;
}

.recomended__img {
  width: calc(109px + (210 - 109) * ((100vw - 834px) / (1440 - 834)));
  min-width: 109px;
}

.recomended__content {
  align-self: flex-start;
  width: calc(100% - calc(109px + (210 - 109) * ((100vw - 834px) / (1440 - 834))));
  padding-left: 20px;
  color: #000;
}

.recomended__title {
  font-size: calc(18px + (24 - 18) * ((100vw - 834px) / (1440 - 843)));
  font-weight: 600;
}

.recomended__description {
  font-size: calc(12px + (18 - 12) * ((100vw - 834px) / (1440 - 843)));
  font-weight: 400;
}

.recomended__price {
  color: var(--mainGreen);
  margin-top: 1.2rem;
  font-size: calc(18px + (24 - 18) * ((100vw - 834px) / (1440 - 843)));
}
.recomended__price::before {
  content: "$";
}

.recomended__link {
  width: 48%;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  text-decoration: none;
}
.recomended__link:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #e2d2d2;
}

@media all and (max-width: 52em) {
  .recomended__title {
    font-size: 1.1rem;
  }

  .recomended__description {
    font-size: 0.75rem;
  }

  .recomended__price {
    font-size: 1.1rem;
    margin-top: 5px;
  }
}
@media all and (max-width: 42.5em) {
  .recomended__items {
    justify-content: center;
  }

  .recomended__item {
    display: flex;
    align-items: center;
  }

  .recomended__link {
    width: 60%;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 37.5em) {
  .recomended__link {
    width: 85%;
  }
}
@media all and (max-width: 27em) {
  .recomended__items {
    justify-content: center;
  }

  .recomended__item {
    display: flex;
    align-items: center;
  }

  .recomended__link {
    width: 95%;
  }
}
.reservation {
  padding: var(--mainPadding);
}

.reservation-form {
  background-color: var(--mainGreen);
  padding: 4.625rem 7vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.reservation-form__title {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.625rem;
}

.reservation-form__item {
  width: 48%;
  position: relative;
  color: #fff;
}

.reservation-form__placeholder {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--mainGreen);
  padding: 0 7px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s;
}

.reservation-form__input {
  color: #fff;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.reservation-form__input:focus + .reservation-form__placeholder, .reservation-form__input:valid + .reservation-form__placeholder {
  color: #fff;
  top: -15px;
}

.reservation-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.reservation-form__select option {
  width: 100%;
}

.drop-arrow {
  content: url("../img/drop.png");
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 10px;
}

.reservation-form__btn {
  width: 100%;
  background-color: #219653;
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}
.reservation-form__btn:hover {
  background-color: green;
  cursor: pointer;
}

.reservation-form__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reservation-form__info-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.reservation-form__info-item-img {
  width: 40px;
  height: 52px;
  margin-right: 1rem;
}
.reservation-form__info-item-img img {
  object-fit: contain;
}

@media all and (max-width: 53em) {
  .reservation-form {
    padding: 2.2rem 5vw;
  }

  .reservation-form__info {
    display: none;
  }

  .reservation-form__btn {
    margin-bottom: 0;
  }
}
@media all and (max-width: 42.5em) {
  .reservation {
    padding: 5% 2% 2%;
  }

  .reservation-form__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .reservation-form__item {
    width: 100%;
    margin-bottom: 1.2rem;
    font-size: 0.75rem;
  }

  .reservation-form__btn {
    font-size: 0.8rem;
  }

  .reservation-form__input {
    padding: 14px;
    margin-bottom: 14px;
  }
  .reservation-form__input:focus + .reservation-form__placeholder, .reservation-form__input:valid + .reservation-form__placeholder {
    top: -10px;
  }

  .reservation-form__placeholder {
    left: 14px;
    top: 14px;
  }
}
.footer {
  padding: var(--mainPadding);
  background-color: var(--grey);
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 4rem;
}

.footer__nav-link {
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
  color: #fff;
  text-decoration: none;
}
.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__nav-item {
  margin-bottom: 1rem;
}

.footer__title {
  color: var(--mainGreen);
  font-size: max(14px, calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))));
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.footer__logo {
  width: 172px;
  height: 50px;
}

.footer__contacts {
  width: 25%;
}
.footer__contacts p {
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
  margin-bottom: 0.6rem;
}

.footer__subscription {
  width: 40%;
  font-size: max(calc(12px + (18 - 12) * ((100vw - 375px) / (1440 - 375))), 12px);
}

.footer__subscription-form {
  margin-bottom: 3rem;
}

.footer__subscription-field {
  position: relative;
  display: flex;
}

.footer__subscription-label {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--grey);
  padding: 0 7px;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s;
}

.footer__subscription-input {
  font-size: max(calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))), 14px);
  width: 70%;
  padding: 1.1rem;
  margin: 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.footer__subscription-input:focus + .footer__subscription-label, .footer__subscription-input:valid + .footer__subscription-label {
  color: #fff;
  top: -15px;
}

.main-btn_mini {
  font-size: max(calc(14px + (18 - 14) * ((100vw - 834px) / (1440 - 834))), 14px);
  width: 30%;
  border: 1px solid var(--mainGreen);
}

.footer__copyright {
  text-align: center;
  padding-top: 2.5rem;
  font-size: max(calc(14px + (18 - 14) * ((100vw - 375px) / (1440 - 375))), 14px);
}

@media all and (max-width: 59em) {
  .footer__logo {
    width: 140px;
    height: 40px;
  }
}
@media all and (max-width: 52em) {
  .footer p {
    text-align: center;
  }

  .footer__title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vw;
    width: 100%;
  }

  .footer__subscription {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav {
    display: none;
  }
}
:root {
  --mainPadding: 10% 11% 3rem;
  --mainGreen: #6FCF97;
  --lightGreen: #EFFFF6;
  --grey: #333;
}

body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: calc(2.4rem + .4vw);
  line-height: 1.5;
  letter-spacing: 1px;
  width: 100%;
}

.logo {
  background-color: var(--mainGreen);
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 98px;
  height: 28px;
}

.main-btn {
  background-color: var(--mainGreen);
  border: none;
  color: #fff;
  padding: 1rem 4rem;
}
.main-btn:hover {
  background-color: green;
}

.main-btn_mini {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-title {
  font-size: calc(1.6rem + .5vw);
  font-weight: 600;
  margin-bottom: 4.25rem;
  text-align: center;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.error {
  border: 1px solid red !important;
}

.error-text {
  color: red !important;
}

.valid {
  border: 1px solid green !important;
}

.valid-text {
  color: green !important;
}

.hidden {
  display: none;
}

@media all and (max-width: 68em) {
  :root {
    --mainPadding: 5% 7% 3rem;
  }

  .logo {
    padding: 2rem 2.5rem;
  }
}
@media all and (max-width: 59em) {
  :root {
    --mainPadding: 5% 5% 3rem;
  }

  .logo {
    padding: 1.5rem 2rem;
  }
  .logo img {
    width: 80px;
    height: 22px;
  }

  .block-title {
    font-size: calc(1.4rem + .5vw);
  }
}
@media all and (max-width: 52em) {
  .block-title {
    font-size: calc(1rem + .5vw);
  }
}
@media all and (max-width: 42.5em) {
  .logo {
    padding: 0.8rem 1.1rem;
  }
  .logo img {
    width: 60px;
    height: 16px;
  }

  .main-btn {
    padding: 0.8rem 2rem;
    font-size: 14px;
  }

  .block-title {
    margin-bottom: 20px;
  }

  .gallery .gallery__items {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
  }
}