// Navigation
.nav {
    width: 65%;
    margin-right: 2rem;
}

.nav__list {
    display: flex;
    flex-flow: row wrap;
}

.nav__item {
    margin-right: 60px;
    &:last-child {
        margin-right: 0;
    }
}

.nav__item_to-right {
    margin-left: auto;
}

.nav__link {
    color: #fff;
    font-size: .875rem;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover {
        border-bottom: 4px solid darkorange;
    }
}

.nav__link_active {
    border-bottom: 4px solid var(--mainGreen);
}

.nav__link_drop {
    padding-right: 1rem;
    background: url('../img/drop.png') 100% 50% no-repeat;
    background-size: 0.875rem;
    &:hover {
        border-bottom: 4px solid red;
    }
}

// 944px
@media all and (max-width: 59em) {
    .nav {
        width: 100%;
        margin: 0 30px;
    }
    .nav__list {
        justify-content: space-between;
    }
    .nav__item {
        margin-right: 0;
    }
    .nav__item_to-right {
        margin-left: 0;
    }
}

// 680px
@media all and (max-width: 42.5em) {
    .header__nav-row {
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav_hidden {
        display: none;
    }
    .logo_max {
        width: 100%;
        flex: 0 0 100%;
    }
    .nav {
        position: relative;
        margin: 0;
        width: 100%;
    }
    .nav__list {
        position: absolute;
        width: 100%;
        background-color: rgb(111, 207, 151);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
    .nav__item {
        margin-bottom: 1rem;
    }
}