@import "reset";
@import "header";
@import "nav";
@import "recipe";
@import "recomended";
@import "reservation";
@import "footer";
:root {
    --mainPadding: 10% 11% 3rem;
    --mainGreen: #6FCF97;
    --lightGreen: #EFFFF6;
    --grey: #333;
}

body {
    font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: calc(2.4rem + .4vw);
    line-height: 1.5;
    letter-spacing: 1px;
    width: 100%;
}

.logo {
    background-color: var(--mainGreen);
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 98px;
        height: 28px;
    }
}

.main-btn {
    background-color: var(--mainGreen);
    border: none;
    color: #fff;
    padding: 1rem 4rem;
    &:hover {
        background-color: green;
    }
}

.main-btn_mini {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-title {
    font-size: calc(1.6rem + .5vw);
    font-weight: 600;
    margin-bottom: 4.25rem;
    text-align: center;
}

.gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.error {
    border: 1px solid red !important;
}

.error-text {
    color: red !important;
}

.valid {
    border: 1px solid green !important;
}

.valid-text {
    color: green !important;
}

.hidden {
    display: none;
}

// 1088px
@media all and (max-width: 68em) {
     :root {
        --mainPadding: 5% 7% 3rem;
    }
    .logo {
        padding: 2rem 2.5rem;
    }
}

// 944px
@media all and (max-width: 59em) {
     :root {
        --mainPadding: 5% 5% 3rem;
    }
    .logo {
        padding: 1.5rem 2rem;
        img {
            width: 80px;
            height: 22px;
        }
    }
    .block-title {
        font-size: calc(1.4rem + .5vw);
    }
}

// 832px
@media all and (max-width: 52em) {
    .block-title {
        font-size: calc(1rem + .5vw);
    }
}

// 680px
@media all and (max-width: 42.5em) {
    .logo {
        padding: .8rem 1.1rem;
        img {
            width: 60px;
            height: 16px;
        }
    }
    .main-btn {
        padding: .8rem 2rem;
        font-size: 14px;
    }
    .block-title {
        margin-bottom: 20px;
    }
    .gallery {
        .gallery__items {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 7px;
        }
    }
}