@import "reset";
@import "common";
@import "header";
@import "nav";
@import "recipe";
@import "recomended";
@import "reservation";
@import "footer";
@import "popup";
@import "modal";
:root {
    --mainPadding: 10% 11% 3rem;
    --mainGreen: #6FCF97;
    --lightGreen: #EFFFF6;
    --grey: #333;
}